*{
    margin: 0;
}
.btn-primary{
    background: #ffffff;
    color: rgb(5, 255, 13);
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 16px 20px;
    height: 64px;
    border-radius: 5px;
    width: 160px;
    height: 64px;
    text-align: center;
}

                            /* Header style */



.banner{
    background-image: url('images/banner/banner3.png');
    background-size: cover;
    background-position: center;
    height: 669px;
    width: 1350px;
    min-height: auto;
    align-items: center;
    justify-content: center;
}
.header{
    text-align: right;
    text-decoration: none;
    list-style-type: none;
    
    padding-top: 160px;
    padding-right: 100px;
}
.title{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    text-align: right;
    color: rgb(0, 0, 0);
}
.sub-title{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: right;
}
                              
.title{
    font-weight: 700;
    font-size: 65px;
    color: white;
 
}
.sub-title{
    padding-top: 24px;
    padding-bottom: 32px;
}

                /* My failures of previous year */

.branding{
    display: flex;
    justify-content: space-between;
}
.content{
    color: #444343;
}
.modal{
    width: 569px;
    height: 723px;
    padding: 130px 0px 130px 100px;
}

.summary{
    width: 569px;
    height: 723px;
    padding: 370px 300px 214px 87px;
}
.summary-title{
    font-weight: 700;
    font-size: 40px;
    color: #151414;
}
.summary-title-content{
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    padding-top: 24px;
    padding-bottom: 16px;
}



.about{
    text-align: center;
    margin-top: 130px;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 131px 156px;
}

.section-title{
    text-align: center;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 35px;
}
.section-description{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}

.about-info-container{
    display: flex;
    justify-content: space-around;
}

.about .about-info{
    font-size: 20px;
    color: #474747;
}

                           /* My Plane  */

.branding-title{
    text-align: center;
    font-weight: 700;
    font-size: 40px;
}        
.want{
    display: flex;
    padding: 50px 230px 130px 230px;
    width: 1300;
    height: 202px;
    justify-content: space-around;

}
.sub-branding-title{
    font-weight: 700;
    font-size: 30px;
    color: #151414;
}
.sub-content{
    color: #444343;
}
.want-title{
    text-align: center;
    padding-left: 86px;
    padding-right: 86px;
    
}

                /* Liner Start  */

.b1{
    background-image: linear-gradient(to right, rgba(5, 40, 237, 0.52), rgba(237, 210, 210, 0.791)),url('images/watch.png') ;                
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 1140px;
    left: 230px;
    top: 2216px;
    margin: 50px 250px 120px 110px;
    min-height: auto;
    align-items: center;
    justify-content: center;       
border-radius: 8px;
}
                  
                  
.b2{
    text-align: left;
    text-decoration: none;
    list-style-type: none;
    padding-top: 65px;
    margin-top: 60px;
    padding-left: 70px;                   
}
.b3{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    padding-bottom: 20px;
    line-height: 60px;
    text-align:left ;
    color: rgb(0, 0, 0);         
}
.btn_poster{
    background: #ffffff;
    color: #F15B22;
    font-weight: 700;
    font-size: 16px;
    border: 0;
    padding: 14px 18px;
    height: 50px;
    border-radius: 5px;
    width: 150px;
    height: 60px;
     text-align: center;
}


                     /* footer start */


footer{
    display: flex;
    background-color: black;
    color: white;
    width: 1600px;
    height: 577px;
}
.discription{
    padding: 130px 330px 130px 100px;
}
.filup{
    padding: 130px 530px 240px 0px;
}
.filup-title{
    padding-bottom: 30px;
}
.sub-contact{
    padding-top: 16px;
    padding-bottom: 24px;
}
.sub-contact-info{
    width: 250px;
    height: 2px;
    padding-top: 20px;
    padding-bottom: 30px;
    background-color: rgb(6, 6, 6);
}
.secondari-btn{
    background: #005FAC;
    border-radius: 8px;
    width: 90px;
    height: 50px;
    padding-top: 18px;
}